<div class="awards">
    <h2>Selected Awards</h2>
        <ul>
            <li>
                <strong>5th Place & Silver Medal in 2019 ACM-ICPC WorldFinals</strong>
                <ul>
                    <li>The best rank in mainland China, Hong Kong, Macao, and Taiwan in 2019.</li>
                    <li><a href="https://icpc.global/ICPCID/T77LTO4ML5Q7" target="_blank">Personal ICPCID</a></li>
                </ul>
            </li>
            <li>
                <strong>Silver Medal in 2017 International Olympiad in Informatics (IOI)</strong>
                <ul>
                    <li><a href="http://stats.ioinformatics.org/people/6374" target="_blank">IOI Profile</a></li>
                </ul>
            </li>
            <li>
                <strong>Grand Prize Winner in 2016 International Genetically Engineered Machine (iGEM)</strong>
                <ul>
                    <li>Team member in HSiTAIWAN, which is the best high school team in 2016.</li>
                    <li><a href="https://2016.igem.org/Results" target="_blank">Result Page</a></li>
                    <li><a href="https://2016.igem.org/Team:HSiTAIWAN/TeamMembers" target="_blank">Team Page</a></li>
                </ul>
            </li>
        </ul>
</div>